:root {
    --a: #c87d7d;
    --b: #c2c2d2;
    --c: #57bc90;
    --d: #015249;
    --e: #77c9d4;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin: 0;
}

header {
    background-color: var(--d);
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 2px #004039;
}

.new {
    color: var(--d);
    background-color: var(--c);
    margin-left: auto;
    margin-right: 3rem;
    font-size: 28px;
    font-weight: bold;
    width: 160px;
    height: 60px;
    border-radius: 20px;
}

header .title {
    padding-top: auto;
    color: var(--e);
    font-size: 56px;
    margin-left: 2rem;
}

.main {
    background: linear-gradient(90deg, var(--e), var(--c));
    padding: 5rem;
    padding-top: 5rem - 5px;
    margin-top: 5px;
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: var(--d);
    padding: 2rem;
    color: var(--b);
    font-size: 24px;
    border-radius: 3rem;
    font-weight: bold;
    box-shadow: 3px 3px 3px black;
}

.card div {
    margin: 12px 0px;
}

.card button {
    height: 40px;
    width: 100%;
    border-radius: .5rem;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--c);
}

.card .delete {
    margin-top: .5rem;
    background-color: var(--a);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: var(--b);
    height: 500px;
    width: 400px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 2rem;
    z-index: 1;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1)
}

.popup-header {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px dashed black;
    margin-bottom: 2rem;
}

.popup-header .title {
    font-size: 30px;
    font-weight: bold;
}

.popup-header button {
    margin-left: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 2rem;
}

input[type=text] {
    height: 30px;
    font-size: 20px;
    border-radius: 6px;
    outline: none;
}

label {
    font-size: 20px;
    margin-bottom: .3rem;
}

.popup-submit {
    height: 40px;
    width: 50%;
    margin: 0px auto;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 20px;
}

.popup-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.75rem;
    font-weight: bold;
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.invalid {
    border: 2px solid red;
}

input[type=text]:focus {
    box-shadow: 5px 5px 5px lightblue;
    border: 1px solid rgb(0, 120, 159);
}